# ===============================
# Python Bytecode
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Virtual Environments
# ===============================
venv/
env/
ENV/
.venv/
env.bak/
venv.bak/

# ===============================
# Environment Variables
# ===============================
.env
.env.*
*.env

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# PyCharm
# ===============================
.idea/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Data Files (Large Files)
# ===============================
data/
datasets/


# ===============================
# Model Files
# ===============================
*.h5
*.pkl
*.joblib
*.model

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Build / Distribution
# ===============================
build/
dist/
*.egg-info/

# ================
# Node
node_modules/
package-lock.json

# Python
__pycache__/
*.pyc
venv/
.env

# Data / Outputs
outputs/
notebooks/.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
